package layout

templ Login() {
	@Base() {
		<div class="flex h-screen bg-gray-100 justify-center items-center">
			<div
				class="w-2/3 h-2/3   bg-cover bg-center rounded-2xl shadow-2xl"
				style="background-image: url('/static/img/login_bg.jpg'); "
			>
				<div class="w-1/2 p-4 text-center sm:p-6 md:col-span-2 lg:p-8">
					<form
						hx-post="/login"
						hx-swap="outerHTML"
						hx-target="#body"
						hx-replace-url="/"
						hx-encoding="application/json"
						class="mt-8 grid grid-cols-6 gap-6"
					>
						<div class="col-span-12">
							<input
								class="w-full rounded-lg border border-grey-600 p-3 text-sm"
								placeholder="Korisničko ime"
								type="text"
								name="username"
							/>
						</div>
						<div class="col-span-12">
							<input
								class="w-full rounded-lg border border-grey-600 p-3 text-sm"
								placeholder="Lozinka"
								type="password"
								name="password"
							/>
						</div>
						<div class="col-span-12">
							<button
								type="submit"
								class="inline-block rounded-lg border border-indigo-600 bg-indigo-600 px-12 py-3 text-sm font-medium text-white hover:bg-transparent hover:text-indigo-600 focus:outline-none focus:ring active:text-indigo-500"
							>Prijavi se</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	}
}
