package layout

templ Login() {
	@Base() {
		<div class="flex h-screen bg-gray-100 justify-center items-center">
			<div
				class="w-2/3 h-2/3   bg-cover bg-center rounded-2xl shadow-2xl"
				style="background-image: url('/static/img/login_bg.jpg'); "
			>
				<div class="w-1/2 p-4 text-center sm:p-6 md:col-span-2 lg:p-8">
					<form action="#" class="mt-8 grid grid-cols-6 gap-6">
						<div class="col-span-12">
							<input
								class="w-full rounded-lg border border-grey-600 p-3 text-sm"
								placeholder="Korisničko ime"
								type="text"
								id="username"
							/>
						</div>
						<div class="col-span-12">
							<input
								class="w-full rounded-lg border border-grey-600 p-3 text-sm"
								placeholder="Lozinka"
								type="text"
								id="password"
							/>
						</div>
					</form>
				</div>
			</div>
			// <div class="flex m-20">
			// 	<section class="rounded-lg shadow-2xl">
			// 		// <div class="p-4 text-center sm:p-6 md:col-span-2 lg:p-8">
			// 		// 	<p class="text-sm font-semibold uppercase tracking-widest">Run with the pack</p>
			// 		// 	<h2 class="mt-6 font-black uppercase">
			// 		// 		<span class="text-4xl font-black sm:text-5xl lg:text-6xl">Get 20% off </span>
			// 		// 		<span class="mt-2 block text-sm">On your next order over $50</span>
			// 		// 	</h2>
			// 		// 	<a
			// 		// 		class="mt-8 inline-block w-full bg-black py-4 text-sm font-bold uppercase tracking-widest text-white"
			// 		// 		href="#"
			// 		// 	>
			// 		// 		Get Discount
			// 		// 	</a>
			// 		// 	<p class="mt-8 text-xs font-medium uppercase text-gray-400">
			// 		// 		Offer valid until 24th March, 2021 *
			// 		// 	</p>
			// 		// </div>
			// 		// <img
			// 		// 	alt=""
			// 		// 	src="/static/img/login_bg.jpg"
			// 		// 	class="h-full object-cover md:h-full"
			// 		// />
			// 	</section>
			// </div>
		</div>
	}
}
